body {
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

body>*:not(script) {
    display: grid;
    justify-content: center;
}

#top-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 2px solid grey;
    padding: 20px;
    background-color: bisque;
}

#top-header {
    display: flex;
    align-self: center;
    justify-content: center;
    text-decoration: underline solid;
}

#top-logo {
    align-self: center;
    width: 230px;
    height: 90px;
    object-fit: contain;
    margin: 5px;
}

main {
    display: grid;
    margin: 20px;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px)); /* set 400px for cool scaling effect */
}

menu {
    padding: 0;
    margin: 0px 40px 0px 40px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: bold;
    color: white;
}

menu li {
    display: inline;
    padding: 1em;
    border: 2px solid grey;
    background-color: black;
    border-radius: 25px;
    margin: 1rem;
}

.block {
    padding: 20px;
    border: 2px solid grey;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    min-height: 150px;
    max-height: 300px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.img-container img {
    object-fit:cover;
    width: 40%;
    height: auto;
    flex-grow: 1;
}

#peek-result {
    visibility: hidden;
    width: 100%;
    height: auto;
    margin: 5px;
}

.block-button {
    display: inline-block;
    width: 10em;
    height: 4em;
    border: double 4px grey;
    border-radius: 10px;
    background-color:aquamarine;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: larger;
    color: black;
}

footer {
    background-color: grey;
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
}

footer > span {
    padding: 25px 50px;
    color:white;
    font-weight: bold;
}

#spacer {
    height: 70px;
}
/* 
Change number of columns as viewport changes.
If reasonably possible, have a column per block
Else use a columnnumber that distrubutes blocks somewhat
evenly.
*/

@media screen and (max-width: 400px){
    #top-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 700px){
    #top-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    menu {
        justify-content: center;
    }
}